{% extends "layout.html" %}

{% block body %}

{% if current_user.is_authenticated %}
<!-- Toolbar to edit or delete item fi you are the owner -->
{% if current_user.id == item.account_information.id %}
<table class="item-toolbar">
    <tr>
        <td>
            <a class="item-edit-btn btn btn-blue" href="{{ url_for('item_edit', item_id=item.id) }}">Edit</a>
        </td>
        <td>
            <form class="item-delete" method="POST" action="{{ url_for('item_delete', item_id=item.id) }}">
                <input class="item-delete-btn btn btn-red" type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
{% endif %}


<!-- Toolbar to add a bid if you are not the owner -->
{% if current_user.id != item.account_information.id %}
<form class="bid-new" method="POST" action="{{ url_for('bid_create', item_id=item.id) }}">
    <table>
        <tr>
            <td>
                {{ form.amount }}
            </td>
            <td>
                {% if form.amount.errors %}
                <ul>
                    
                    {% for error in form.amount.errors %}
                    <li class="form-error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                Add your bid
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-green" type="submit" value="Bid"/>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endif %}


<!-- Item details of the item -->
<table class="item-detail detail-table">
    <tr>
        <th><h1>Details</h1></th>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ item.description }}</td>
    </tr>
    <tr>
        <th>Quality</th>
        <td>{{ item.quality.name }}</td>
    </tr>
    <tr>
        <th>Seller</th>
        <td>{{ item.account_information.user_account.user_name }}</td>
    </tr>
    <tr>
        <th>Auction ends</th>
        <td>{{ item.bidding_end }}</td>
    </tr>
    <tr>
        <th>Current price</th>
        <td>{{ item.bid_latest(item.id) }}</td>
    </tr>
    <tr>
        <th>Contact seller</th>
        <td>{{ item.account_information.email_address }}</td>
    </tr>
</table>

 <!-- Bids of ht item -->
<table class="bid-table-item detail-table">
    <tr>
        <th><h1>Bids</h1></th>
    </tr>
    {% if not item.bid_order(item.id) %}
    <tr>
        <td><p class="info-text">There are no bids on this item currently</p></td>
    </tr>
    {% endif %}
    {% for bid in item.bid_order(item.id) %}
    <tr>
        <th>{{ bid.user_name }}</th>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.date_created }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}