{% extends "layout.html" %}

{% block body %}

<!-- Toolbar to edit or delete item fi you are the owner -->
<table class="item-toolbar">
    <tr>
        {% if current_user.id == item.AccountInformation.id %}
        <td>
            <a class="item-edit-btn btn btn-blue" href="{{ url_for('item_edit', item_id=item.id) }}">Edit</a>
        </td>
        <td>
            <input class="item-delete-btn btn btn-red" type="submit" value="Delete">
        </td>
        {% endif %}
    </tr>
</table>


<!-- Toolbar to add a bid if you are not the owner -->
<form class="bid-new" method="POST" action="{{ url_for('bid_create', item_id=item.id) }}">
    <table>
        <tr>
            {% if current_user.id != item.AccountInformation.id %}
            <td>
                {{ form.amount }}
            </td>
            <td>
                {% if form.amount.errors %}
                <ul>
                    
                    {% for error in form.amount.errors %}
                    <li class="form-error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                Add your bid
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-green" type="submit" value="Bid"/>
            </td>
            {% endif %}
        </tr>
    </table>
</form>


<!-- Item details and bids of the item -->
<table class="item-detail detail-table">
    <tr>
        <th>Name</th>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ item.description }}</td>
    </tr>
    <tr>
        <th>Quality</th>
        <td>{{ item.quality }}</td>
    </tr>
    <tr>
        <th>Seller</th>
        <td>{{ item.AccountInformation.user_account.user_name }}</td>
    </tr>
    <tr>
        <th>Auction ends</th>
        <td>{{ item.bidding_end }}</td>
    </tr>
    <tr>
        <th>Current price</th>
        <td>{{ item.starting_price }}</td>
    </tr>
    <tr>
        <th>Contact seller</th>
        <td>{{ item.AccountInformation.email_address }}</td>
    </tr>
</table>

<table class="bid-table-item detail-table">
    {% for bid in item.bids %}
    <tr>
        <th>{{ bid.AccountInformation.user_account.user_name }}</th>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.date_created }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}