{% extends "layout.html" %}

{% block body %}

{% if current_user.id == item.account_information.id %}
<main id="item-edit">

<div class="float-div">
<h2 class="table-header">Edit item</h2>
<form class="detail-form" method="POST" action="{{ url_for('item_update', item_id=item.id) }}">
    {{ form.name.label }}
    {{ form.name }}
    <p class="error">{{ form.name.errors[0] }}</p>

    {{ form.description.label }}
    {{ form.description }}
    <p class="error">{{ form.description.errors[0] }}</p>

    {{ form.quality.label }}
    {{ form.quality(value=item.quality.name) }}
    <p class="error">{{ form.quality.errors[0] }}</p>

    <input class="btn" type="submit" value="Update item"/>
</form>
{% else %}
<p class="info-text item-edit-top-span">You are not authorized to edit this information</p>
{% endif %}
</div>
</main>
{% endblock %}