{% extends "layout.html" %}

{% block body %}

{% if current_user.id == item.AccountInformation.id %}


<form method="POST" action="{{ url_for('item_update', item_id=item.id) }}">
    <table>
        <tr>
            <td>
                {{ form.starting_price.label }}
            </td>
            <td>
                {{ form.starting_price }}
            </td>
            <td>
                <ul>
                    {% for error in form.starting_price.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.buyout_price.label }}
            </td>
            <td>
                {{ form.buyout_price }}
            </td>
            <td>
                <ul>
                    {% for error in form.buyout_price.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.bidding_end.label }}
            </td>
            <td>
                {{ form.bidding_end }}
                <!-- <input type="date" id="{{ form.bidding_end.id }}" name="{{ form.bidding_end.name }}" value }}"> -->
            </td>
            <td>
                <ul>
                    {% for error in form.bidding_end.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td>
                {{ form.description }}
            </td>
            <td>
                <ul>
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.quality.label }}
            </td>
            <td>
                {{ form.quality }}
            </td>
            <td>
                <ul>
                    {% for error in form.quality.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add a new item"/>
            </td>
        </tr>
    </table>
</form>


{% else %}
    <p>You do not have the permission to edit this item</p>
{% endif %}

{% endblock %}