{% extends "layout.html" %}

{% block body %}

<table class="item-table detail-table">
    <tr>
        <th>Item</th>
        <th>Current Price</th>
        <th>Buyout Price</th>
        <th>Auction ends</th>
        <th>Quality</th>
        <th>Seller</th>
    </tr>
    {% for item in items %}
    {% if not item.sold %}
    <tr>
        <td>
            <a class="important" href="{{ url_for('item_detail', item_id=item.id) }}">
                {{ item.name }}
            </a>
        </td>
        <td>{{ item.bid_latest(item.id) }}</td>
        <td>{{ item.buyout_price }}</td>
        <td>{{ item.bidding_end }}</td>
        <td>{{ item.quality.name }}</td>
        <td>{{ item.account_information.user_account.user_name }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}