{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('items_create') }}">
    <table>
        <tr>
            <td>
                {{ form.starting_price.label }}
            </td>
            <td>
                {{ form.starting_price }}
            </td>
            <td>
                <ul>
                    {% for error in form.starting_price.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.buyout_price.label }}
            </td>
            <td>
                {{ form.buyout_price }}
            </td>
            <td>
                <ul>
                    {% for error in form.buyout_price.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.bidding_end.label }}
            </td>
            <td>
                <input type="datetime-local" name="{{ form.bidding_end.name }}" id="{{ form.bidding_end_id }}">
                <!-- {{ form.bidding_end }} -->
            </td>
            <td>
                <ul>
                    {% for error in form.bidding_end.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td>
                {{ form.description }}
            </td>
            <td>
                <ul>
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.quality.label }}
            </td>
            <td>
                {{ form.quality }}
            </td>
            <td>
                <ul>
                    {% for error in form.quality.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add a new item"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}