{% extends "layout.html" %}

{% block body %}
<main id="item-new">
<div class="float-div">
<h1 class="material-header">New item</h1>
<form class="material-form" method="POST" enctype="multipart/form-data" action="{{ url_for('items_create') }}">

    {% if form.starting_price.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.starting_price.label(class="material-label") }}
        <span class="form-span">$</span>{{ form.starting_price(class="material-input") }}
        <p class="material-error">{{ form.starting_price.errors[0] }}</p>
    </div>

    {% if form.bidding_end.bidding_end_date.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.bidding_end.bidding_end_date.label(class="material-label") }}
        {{ form.bidding_end.bidding_end_date(class="material-input", placeholder=form.get_current_date()) }}
        <p class="material-error">{{ form.bidding_end.bidding_end_date.errors[0] }}</p>
    </div>

    {% if form.bidding_end.bidding_end_time.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.bidding_end.bidding_end_time.label(class="material-label") }}
        {{ form.bidding_end.bidding_end_time(class="material-input", placeholder=form.get_current_time()) }}
        <p class="material-error">{{ form.bidding_end.bidding_end_time.errors[0] }}</p>
    </div>

    {% if form.name.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.name.label(class="material-label") }}
        {{ form.name(class="material-input") }}
        <p class="material-error">{{ form.name.errors[0] }}</p>
    </div>

    {% if form.image.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.image.label(class="material-label") }}
        <label for="image" class="material-file">Choose a file</label>
        {{ form.image(class="material-file") }}
        <p class="material-error">{{ form.image.errors[0] }}</p>
    </div>

    {% if form.description.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.description.label(class="material-label") }}
        {{ form.description(class="material-input") }}
        <p class="material-error">{{ form.description.errors[0] }}</p>
    </div>

    {% if form.quality.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.quality.label(class="material-label") }}
        {{ form.quality(class="material-input") }}
        <p class="material-error">{{ form.quality.errors[0] }}</p>
    </div>

    {% if form.category.errors %}
    <div class="material-field material-field-error">
    {% else %}
    <div class="material-field">
    {% endif %}
    
        {{ form.category.label(class="material-label") }}
        {{ form.category(class="material-input") }}
        <p class="material-error">{{ form.category.errors[0] }}</p>
    </div>

    <input class="material-button" type="submit" value="New item"/>
</form>
</div>
</main>
<script src="{{ url_for('static', filename='material.js') }}"></script>
{% endblock %}