* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

th {
    font-weight: 500;
}

/* Main grid container */

html {
    width: 100%;
}

body {
    background-color: rgb(245, 250, 255);
    /* background: linear-gradient(-45deg, red, yellow); */
    /* background: linear-gradient(to right, #d5f7ff 0%,#6b7b8d 100%); */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(32, 32, 32);
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-columns: 1fr;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

h3 a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}




/* Navigation */

nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(50, 96, 139);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(5, 1fr);
    grid-template-areas: "index . user item-new item-list auth-log auth-signup";
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 3em;
    overflow-wrap: normal;
}

nav a:hover {
    background-color: rgb(255, 145, 0);
}

.nav-index {grid-area: index;}
.nav-user {grid-area: user;}
.nav-item-list {grid-area: item-list;}
.nav-item-new {grid-area: item-new;}
.nav-auth-login {grid-area: auth-log;}
.nav-auth-logout {grid-area: auth-log;}
.nav-auth-signup {grid-area: auth-signup;}



/* Item table */


#item-list {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1280px) 1fr;
    /* align-content: start; */
}

#item-list > div {
    grid-column: 2;
    margin-top: 10em;
    margin-bottom: 4em;
}

#item-ajax-div {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat( auto-fit, 300px );
    grid-auto-rows: 460;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: space-evenly;
    align-content: center;
}

.item-container {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    height: 460px;
    width: 300px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.item-container img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}

.item-container:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.12);
}

.item-container h3 {
    text-align: center;
    /* height: 3em; */
    border-bottom: solid 1px #ddd;
    margin: auto 20px;
    padding: 10px 0;
}

.item-container #trunc {
    height: 60px;
}

.item-container h3:last-child {
    border: 0;
}

.item-container h3 a {
    text-decoration: none;
    color: rgb(50, 96, 139);
}


.item-container h3 a:hover {
    color: rgb(255, 145, 0);
}

#item-list h1 {
    padding-left: 100px;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
}

#load-items-form {
    grid-column: 2;
    justify-self: center;
}

#load-items-button {
    justify-self: center;
    width: 8em;
    margin-top: 2em;
}


#item-search-form {
    display: inline-block;
    padding: 0 14em 0 2em;
}

#item-search-form input {
    display: inline-block;
    background-color: rgb(50, 96, 139);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
}

#item-search-form input:hover {
    background-color: rgb(255, 145, 0);
}

#item-search-form select {
    display: inline-block;
    width: 12em;
    padding: 12px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0.5em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
}


/* Item detail */

#item-detail {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 624px) 2em minmax(200px, 624px) 1fr;
    grid-template-areas: ". item-toolbar . item-bid ."
                         ". item-details . item-bids ."
                         ". other-items other-items other-items .";
    /* grid-column-gap: 3em; */
    grid-row-gap: 2em;
    align-items: start;
    margin: 10em 0;
}

#item-detail .item-details {
    grid-area: item-details;
}

#item-detail .item-bids {
    grid-area: item-bids;
}

#item-detail .item-bid {
    grid-area: item-bid;
}

#item-detail .item-toolbar {
    grid-area: item-toolbar;
}

#item-detail .other-items {
    grid-area: other-items;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

#item-detail #other-items-list {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat( auto-fit, 300px );
    grid-auto-rows: 460;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: space-evenly;
    align-content: center;
}

#item-detail .other-items h2 {
    padding: 0.5em 0 0 0.5em;
    /* grid-column: span 4; */
}

#item-detail .item-toolbar .detail-form {
    display: inline-block;
}

#item-detail .item-toolbar .buttons{
    padding-left: 20px;
}

#item-detail img {
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 2em;
    height: auto;
    max-height: 600px;
}






/* Item new */

#item-new {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 640px) 1fr;
    /* align-items: start; */
    padding: 10em 0;
}

#item-new .float-div {
    grid-column: 2;
}


/* Item edit */

#item-edit {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 640px) 1fr;
    padding: 10em 0;
}

#item-edit .float-div {
    grid-column: 2;
}


/* User Signup */

#user-signup {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 640px) 1fr;
}

#user-signup .float-div {
    margin: 10em 0;
    grid-column: 2;
}

/* User edit */

#user-edit {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 640px) 1fr;
    padding: 10em 0;
}

#user-edit .float-div {
    grid-column: 2;
}


/* User login */

#user-login {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 640px) 1fr;
}

#user-login .float-div {
    margin: 10em 0;
    grid-column: 2;
}


/* User Detail */

h2 {
    margin: 0;
    padding: 0;
    color: rgb(255, 145, 0);
}

h1 {
    color: rgb(255, 145, 0);
}

#user-detail {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 624px) 2em minmax(200px, 624px) 1fr;
    align-items: start;
    grid-row-gap: 2em;
    padding: 10em 0;
    grid-template-areas: ". ut ut ut ."
                         ". ud  . um ."
                         ". ui ui ui ."
                         ". ub ub ub ."
}

#user-detail h1 {
    padding-left: 20px;
    padding-bottom: 30px;
}

#user-detail .user-items-div {
    grid-area: ui;
}

#user-detail .user-items-bought-div {
    grid-area: ub
}

#user-detail .user-detail-div {
    grid-area: ud;
}

#user-detail .user-mailing-detail-div {
    grid-area: um;
}

#user-detail .user-toolbar {
    grid-area: ut;
}

#user-detail h2 {
    padding-top: 1.5em;
    padding-left: 20px;
    padding-bottom: 1.5em;
}



.user-toolbar h2 {
    display: inline-block;
}

.user-toolbar .buttons {
    display: inline-block;
    padding-left: 2em;
}

.user-toolbar .btn {
    display: inline-block;
}

.user-toolbar .detail-form {
    display: inline-block;
}


/* Index */

#index {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 624px) 2em minmax(200px, 624px) 1fr;
    padding-top: 10em;
    grid-row-gap: 2em;
    align-items: start;
    grid-template-areas: ". ts . tb ."
                         ". hi hi hi .";
}

#index .top-sellers {
    grid-area: ts;
}

#index .top-bidders {
    grid-area: tb;
}

#index .hot_items {
    grid-area: hi;
    margin-bottom: 10em;
}

#hot-items-div {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat( auto-fit, 300px );
    grid-auto-rows: 460;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: space-evenly;
    align-content: center;
}

#index h1 {
    padding-left: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}





/*

DETAIL ELEMENTS

*/


/* Datetimes */

.time-normal {
    color: rgb(75, 75, 75);
}

.time-far {
    color: rgb(41, 204, 0);
}

.time-close {
    color: rgb(255, 187, 0);
}

.time-danger {
    color: rgb(255, 0, 0);
}


/* Drop shadow div */

.float-div {
    overflow: hidden;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.float-div .empty-table {
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Table Header */
.table-header {
    padding: 1em 0 1em 20px;
}


/* Detail table */

.detail-table, .detail-table-vertical{
    text-decoration: none;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse; 
}

.detail-table tr, .detail-table-vertical tr {
    /* height: 3em; */
    border-bottom: 1px solid rgb(216, 216, 216);
}

.detail-table tr:last-child, .detail-table-vertical tr:last-child {
    border: 0;
}

.detail-table-vertical th {
    text-align: left;
    padding: 1em 0;
}

/* .detail-table tr:nth-child(even), .detail-table-vertical tr:nth-child(even) {
    background-color: rgb(255, 250, 208);
} */

.detail-table th {
    text-align: left;
    width: 50%;
    padding: 1em 0;
}

.detail-table td, .detail-table-vertical td {
    padding: 1em 0;
}

.detail-table-vertical th:first-child, .detail-table-vertical td:first-child {
    padding-left: 20px;
}

.detail-table th:first-child, .detail-table td:first-child {
    padding-left: 20px;
}

.detail-table-vertical th:last-child, .detail-table-vertical td:last-child {
    padding-right: 20px;
}

.detail-table th:last-child, .detail-table td:last-child {
    padding-right: 20px;
}

.detail-table a, .detail-table-vertical a{
    text-decoration: none;
    color: rgb(50, 96, 139);
}

.detail-table a:hover, .detail-table-vertical a:hover{
    color: rgb(255, 145, 0);
}


/* Detail form */



.detail-form {
    padding: 0 20px 20px 20px;
}

/* .detail-form label {
    padding-top: 32px;
    font-size: 14px;
    font-weight: 400;
    display: block;
} */
.material-header {
    margin: 48px 2em 0 32px;
}

.material-form {
    margin: 0 2em;
}

.material-form label {
    margin-top: 48px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #444;
}



.material-form select {
    color: rgb(32, 32, 32);
    display: inline-block;
    width: 100%;
    padding: 6px 0; 
    border: 0;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    background: 0;
}

.material-form .material-error {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    padding-top: 6px;
}

.material-form .material-button {
    margin: 48px 0 2em 0;
    background-color: rgb(50, 96, 139);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-family: 'Roboto';
    font-size: 14px;
}

.material-form .material-button:hover {
    background-color: rgb(255, 145, 0);
}

.material-form textarea {
    color: rgb(32, 32, 32);
    display: inline-block;
    width: 100%;
    margin-top: 6px;
    padding: 6px 6px; 
    border: 0;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    height: 92px;
}

.material-form input[type=file] {
    display: none;
}

.material-form label.material-file {
    color: #888;
    display: inline-block;
    width: 100%;
    padding: 6px 0; 
    margin: 0;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}

.material-form label.material-file-selected {
    color: rgb(32, 32, 32);
}

.material-form label.material-file-selected:focus {
    outline-style: none;
    box-shadow: none;
    border-color: none;
}

.material-form input[type=text], .material-form input[type=password] {
    color: rgb(32, 32, 32);
    display: inline-block;
    width: 100%;
    padding: 6px 0; 
    border: 0;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    opacity: 1;
    color: #888;
}

.material-field-error label {
    color: rgb(255, 70, 70);
}

.material-field-error .material-error {
    color: rgb(255, 70, 70);
}

.material-field-error textarea {
    border: 1px solid rgb(255, 27, 27);
}

.material-field-error input[type=text], .material-field-error input[type=password] {
    border-bottom: 1px solid rgb(255, 27, 27);
}

label.material-label-focus{
    color: rgb(72, 167, 255);
}

input.material-input-focus[type=text], input.material-input-focus[type=password]  {
    outline-style: none;
    box-shadow: none;
    border-color: none;
    border-bottom: 1px solid rgb(54, 158, 255);
}

.material-field textarea:focus {
    border-color: rgb(54, 158, 255);
}

.material-form span {
    display: inline;
    position: relative;
    top: 24px;
    color: #444;
}

.material-form span + input[type=text] {
    padding-left: 16px;
}











.detail-form input[type=text]:focus, .detail-form textarea:focus, .detail-form input[type=password]:focus {
    border-bottom: 1px solid rgb(23, 143, 255);
}

.detail-form input[type=submit], input[type=button] {
    background-color: rgb(50, 96, 139);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-family: 'Roboto';
    font-size: 14px;
}

.detail-form input[type=submit]:hover, input[type=button]:hover {
    background-color: rgb(255, 145, 0);
    color: #fff;
}

.detail-form .inline{
    display: inline-block;
}

.detail-form .error {
    display: inline-block;
    color: red;
    padding-left: 20px;
}

.detail-form select {
    display: inline-block;
    width: 50%;
    padding: 12px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0.5em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
}





/* Button */


a[class=btn] {
    background-color: rgb(50, 96, 139);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: none;
    text-decoration: none;
}

a[class=btn]:hover {
    background-color: rgb(255, 145, 0);
    color: #fff;
}


/* Error form*/

.form-error {
    list-style: none;
    padding-left: 1em;
    color: rgb(255, 30, 0);
}


/* Info text */

.info-text {
    color: #555;
    font-style: italic;
}

/* Too long */

/* .too-long {
    background: linear-gradient(0deg, #777777 0%, rgb(255, 255, 255) 15%);
    mix-blend-mode: saturation;
} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        grid-template-rows: 18em 1fr;
        grid-template-columns: 1fr;
    }

    nav {
        /* grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: rgb(50, 96, 139);
        padding: 0;
        display: grid; */
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "index"
                             "user"
                             "item-new "
                             "item-list"
                             "auth-log" 
                             "auth-signup";
    }

    #user-detail {
        padding-top: 5%;
    }

    #user-detail h1 {
        grid-column: span 1;
        padding-left: 20px;
        padding-bottom: 0;
    }

    #user-detail .user-items-div {
        grid-column: span 1;
    }
    
    #user-detail .user-items-bought-div {
        grid-column: span 1;
    }

    #user-detail .user-toolbar {
        grid-column: span 1;
    }

    #user-detail {
        grid-template-columns: 1fr;
        grid-template-areas: "ut"
                             "ud"
                             "um"
                             "ui"
                             "ub";
    }


    /* Index */

    #index {
        grid-template-columns: 1fr;
        padding-top: 10em;
        grid-row-gap: 2em;
        grid-template-areas: "ts"
                             "tb"
                             "hi";
    }

    #item-new {
        grid-template-columns: 1fr;
    }

    #item-new .float-div {
        grid-column: 1;
    }
    /* Item list */

    /* Item Detail */

    #item-detail {
        display: grid;
        grid-template-columns: minmax(400px, 768px);
        grid-template-areas: "item-toolbar"
                             "item-details"
                             "item-bid"
                             "item-bids"
                             "other-items";
        /* grid-column-gap: 1em; */
        grid-row-gap: 1em;
        /* padding: 6em 3em; */
    }

    

    
}