* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main grid container */

body {
    background-color: #fff;
    font-family: 'Roboto', Arial;
    font-size: 16px;
    font-weight: normal;
    color: #1a2c41;
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-columns: 1fr;
}




/* Navigation */

nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(50, 96, 139);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(5, 1fr);
    grid-template-areas: "index . user item-new item-list auth-log auth-signup";
}

nav a {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 3em;
    overflow-wrap: normal;
}

nav a:hover {
    background-color: rgb(34, 73, 95);
}

.nav-index {grid-area: index;}
.nav-user {grid-area: user;}
.nav-item-list {grid-area: item-list;}
.nav-item-new {grid-area: item-new;}
.nav-auth-login {grid-area: auth-log;}
.nav-auth-logout {grid-area: auth-log;}
.nav-auth-signup {grid-area: auth-signup;}



/* Item table */

#item-list {
    display: grid;
    padding: 200px 5% 50px 5%;
}

#item-list h1 {
    padding-left: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Item detail */

#item-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". item-bid"
                         "item-details item-bids";
    grid-gap: 5%;
    padding: 200px 5% 200px 5%;
}

#item-detail .item-bid {
    grid-area: item-bid;
}

#item-detail .item-details {
    grid-area: item-details;
}

#item-detail .item-bids {
    grid-area: item-bids;
}


/* Item new */

.item-new-top-span {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    align-self: start;
    margin: 0 auto;
    padding-top: 6em;;
}

.item-new-bottom-span {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin: 0 auto;
    padding-top: 2em;
    align-self: start;
}


/* Item edit */

.item-edit-top-span {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    align-self: start;
    margin: 0 auto;
    padding-top: 6em;;
}

.item-edit-bottom-span {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin: 0 auto;
    padding-top: 6em;
    align-self: start;
}


/* User new */

.user-new {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    margin: 0 auto;
    padding-top: 6em;
    align-self: start;
}


/* User login */

.user-login {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    margin: 0 auto;
    padding-top: 6em;
    align-self: start;
}


/* User Detail */

h2 {
    margin: 0;
    padding: 0;
}

#user-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-gap: 5% 5%;
    background-color: #fff;
    padding: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
}

#user-detail h1 {
    grid-column: span 2;
    padding-left: 20px;
    padding-bottom: 30px;
}

#user-detail div {
    overflow: hidden;
    width: auto;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.2);
}

#user-detail .user-items-div {
    grid-column: span 2;
}

#user-detail .user-items-bought-div {
    grid-column: span 2;
}

#user-detail h2 {
    padding-top: 1.5em;
    padding-left: 20px;
    padding-bottom: 1.5em;
}


/* Index */

#index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 40% 5% 15% 5%;
}

#index h1 {
    padding-left: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}





/*

DETAIL ELEMENTS

*/


/* Drop shadow div */

.float-div {
    /* background-color: mediumpurple; */
    /* border: 2px solid #666; */
    overflow: hidden;
    width: auto;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.2);
}

.float-div .empty-table {
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Table Header */
.table-header {
    padding: 1em 0 1em 20px;
}


/* Detail table */

.detail-table, .detail-table-vertical{
    text-decoration: none;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse; 
}

.detail-table tr, .detail-table-vertical tr {
    height: 3em;
    border-bottom: 1px solid #aaa;
}

.detail-table tr:last-child, .detail-table-vertical tr:last-child {
    border: 0;
}

.detail-table-vertical th {
    text-align: left;
}

.detail-table th {
    text-align: left;
    width: 50%;
}

.detail-table-vertical th:first-child, .detail-table-vertical td:first-child {
    padding-left: 20px;
}

.detail-table th:first-child, .detail-table td:first-child {
    padding-left: 20px;
}

.detail-table a, .detail-table-vertical a{
    text-decoration: none;
    color: rgb(50, 96, 139);
}

.detail-table a:hover, .detail-table-vertical a:hover{
    color: rgb(34, 73, 95);
}


/* Detail form */

.detail-form tr {
    height: 3em;
    padding: 0;
    margin: 0;
}

.detail-form td:first-child {
    padding-right: 2em;
}

.detail-form input {
    width: 12em;
}


/* Button */

.btn {
    border: none;
    background-color: rgb(255, 81, 0);
    text-decoration: none;
    font: normal 16px arial;
    height: 3em;
    width: 7em;
    line-height: 3em;
    display: block;
    text-align: center;
    color: #fff;
}

.btn-blue {
    background-color: rgb(0, 153, 255);
}

.btn-blue:hover {
    background-color: rgb(0, 179, 255);
}

.btn-red:hover {
    background-color: rgb(255, 102, 0);
}

.btn-green {
    background-color: rgb(0, 230, 85);
}

.btn-green:hover {
    background-color: rgb(0, 255, 85);
}


/* Error form*/

.form-error {
    list-style: none;
    padding-left: 1em;
    color: rgb(255, 30, 0);
}


/* Info text */

.info-text {
    color: #555;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        grid-template-rows: 18em 1fr;
        grid-template-columns: 1fr;
    }

    nav {
        /* grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: rgb(50, 96, 139);
        padding: 0;
        display: grid; */
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "index"
                             "user"
                             "item-new "
                             "item-list"
                             "auth-log" 
                             "auth-signup";
    }

    #user-detail {
        padding-top: 5%;
    }

    #user-detail h1 {
        grid-column: span 1;
        padding-left: 20px;
        padding-bottom: 0;
    }

    #user-detail .user-items-div {
        grid-column: span 1;
    }
    
    #user-detail .user-items-bought-div {
        grid-column: span 1;
    }

    #user-detail {
        grid-template-columns: 1fr;
    }


    /* Index */

    #index {
        grid-template-columns: 1fr;
        padding-top: 35px;
    }


    /* Item list */

    #item-list {
        padding: 50px 5% 50px 5%;
    }

    /* Item Detail */

    #item-detail {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "."
                             "item-details"
                             "item-bid"
                             "item-bids";
        grid-gap: 5%;
        padding: 20px 5% 200px 5%;
    }
    

    
}