venv
.vscode
__pycache__
instance/
.webassets-cache
pip-log.txt
pip-delete-this-directory.txt
.Python
*.so
*.py[cod]
*$py.class
items.db
jobs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/application/static/images/
!/application/static/images/hello.jpg
