

<a class="header-item index" href="{{ url_for('index') }}">Huutokauppa</a>



{% if current_user.is_authenticated %}
    <p class="header-item user" >{{ current_user.user_account.user_name }}</p>
{% endif %}

{% if current_user.is_authenticated %}
    <a class="header-item logout" href="{{ url_for('auth_logout') }}">Logout</a>
{% else %}
    <a class="header-item logout" href="{{ url_for('auth_login') }}">Login</a>
{% endif %}

<a class="header-item signup" href="{{ url_for('auth_usersignup') }}">Sign Up</a>