{% extends "layout.html" %}

{% block body %}
    <h1 class="top-sellers-h1 index-top-left">Top sellers</h1>

    {% if top_sellers %}
    <table class="top-sellers detail-table index-bottom-left">
        <tr>
            <th>Username</th>
            <th>Sold Items</th>
        </tr>
        {% for seller in top_sellers %}
        <tr>
            <th><a href="{{ url_for('user_detail', user_id=seller.user_id) }}">{{ seller.user_name }}</a></th>
            <td>{{ seller.item_count }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="no-sellers info-text index-bottom-left">No one has sold anything yet</p>
    {% endif %}

    <h1 class="top-bidders-h1 index-top-right">Top bidders</h1>

    {% if top_bidders %}
    <table class="top-bidders detail-table index-bottom-right">
        <tr>
            <th>Username</th>
            <th>Bids</th>
        </tr>
        {% for bidder in top_bidders %}
        <tr>
            <th><a href="{{ url_for('user_detail', user_id=bidder.user_id) }}">{{ bidder.user_name }}</a></th>
            <td>{{ bidder.bid_count }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="no-bidders info-text index-bottom-right">No one has bid on anything yet</p>
    {% endif %}
    
{% endblock %}