{% extends 'layout.html' %}

{% block body %}
<main id="user-detail">

{% if current_user.id == account_information.id %}
<div class="float-div user-toolbar">
    <h2>{{ account_information.user_account.first_name }} {{ account_information.user_account.last_name }}</h1>
<!-- <h2 class="table-header">Toolbar</h2> -->
    <div class="buttons">
    <a class="btn" href="{{ url_for('user_edit', user_id=account_information.id) }}">Edit</a>

    <form class="detail-form" method="POST" action="{{ url_for('user_delete', user_id=account_information.id) }}">
        <input class="btn inline" type="submit" value="Delete">
    </form>
    </div>
</div>
{% endif %}

<!-- User account details -->
<div class="user-detail-div float-div">
<h2>Account details</h2>
<table class="user-detail-table detail-table">
    <tr>
        <th>Name</th>
        <td>{{ account_information.user_account.first_name }} {{ account_information.user_account.last_name }}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{ account_information.user_account.user_name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ account_information.email_address }}</td>
    </tr>
    {% if current_user.id == account_information.id %}
    <tr>
        <th>Phone number</th>
        <td>{{ account_information.phone_number }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Items on sale</th>
        <td>{{ account_information.items_count(account_information.id) }}</td>
    </tr>
    <tr>
        <th>Bids</th>
        <td>{{ account_information.bids_count(account_information.id) }}</td>
    </tr>
</table>
</div>

{% if current_user.id == account_information.id %}
<div class="user-mailing-detail-div float-div">
<h2>Mailing Address</h2>
<table class="detail-table">
    <tr>
        <th>Country</th>
        <td>{{ account_information.country.name|title()  }}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ account_information.city.name|title() }}</td>
    </tr>
    <tr>
        <th>Postal code</th>
        <td>{{ account_information.postal_code.name }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ account_information.street_address.name|title()  }}</td>
    </tr>
</table>
</div>
{% endif %}

{% if current_user.id == account_information.id%}
<div class="float-div user-items-div">
    <h2>Your items</h2>
    {% if items %}
        <table class="user-items detail-table-vertical">
            
            <tr>
                <th>Item name</th>
                <th>Starting price</th>
                <th>Latest bid</th>
                <th>Bidding end</th>
                <th>Buyer</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>
                    <a class="important" href="{{ url_for('item_detail', item_id=item.id) }}">{{ item.name|truncate(57, True) }}</a>
                </td>
                <td>{{ item.starting_price }}</td>

                {% if item.latest_bid() %}
                    <td>{{ item.latest_bid() }}</td>
                {% else %}
                    <td class="info-text">No bids</td>
                {% endif %}

                {% if item.sold %}
                    <td class="info-text">Sold</td>
                {% elif item.hidden %}
                    <td class="info-text">{{ item.datetime_from_utc() }}</td>
                {% else %}

                {% if item.bidding_time_left(item.id).hours > 23 %}
                    <td>{{ item.datetime_from_utc() }}</td>
                {% else %}
                    {% from 'items/time_left_macro.html' import time_left_macro %}
                    <td>{{ time_left_macro(item.bidding_time_left(item.id)) }}</td>
                {% endif %}
                {% endif %}

                {% if item.sold %}
                    <td><a href="{{ url_for('user_detail', user_id=item.buyer_account_information_id) }}">{{ item.buyer_account_information.user_account.user_name }}</a></td>
                {% elif item.hidden %}
                    <td class="info-text">Unsold</td>
                {% else %}
                    <td class="info-text">-</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p class="info-text empty-table">You have no items on sale</p>
        {% endif %}
</div>
{% endif %}

{% if current_user.id == account_information.id%}
<div class="float-div user-items-bought-div">
    <h2>You have bought</h2>
    {% if bought_items %}
    <table class="user-bought-items detail-table-vertical">

        <tr>
            <th>Item name</th>
            <th>Starting Price</th>
            <th>You paid</th>
            <th>Sold at</th>
        </tr>
        {% for item_bought in bought_items %}
        <tr>
            <td>
                <a class="important" href="{{ url_for('item_detail', item_id=item_bought.id) }}">{{ item_bought.name }}</a>
            </td>
            <td>{{ item_bought.starting_price }}</td>
            <td>{{ item_bought.latest_bid() }}</td>
            <td>{{ item_bought.datetime_from_utc() }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p class="info-text empty-table">You haven't bought any items yet</p>
    {% endif %}
</div>
{% endif %}

</main>

{% endblock %}