{% extends 'layout.html' %}

{% block body %}

<!-- Add to account balance if you are the account owner -->
{% if current_user.id == account_information.id %}
<form class="account-deposit" method="POST" action="{{ url_for('account_deposit') }}">
    <table>
        <tr>
            <th><h2>Deposit money to your account</h2></th>
            <td></td>
        </tr>
        <tr>
            <td>
                {{ form.amount }}
            </td>
            <td>
                {% if form.amount.errors %}
                <ul>
                    
                    {% for error in form.amount.errors %}
                    <li class="form-error">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-green" type="submit" value="Deposit"/>
            </td>
        </tr>
    </table>
</form>
{% endif %}



<!-- User account details -->
<table class="user-detail detail-table">
    <tr>
        <th>Username</th>
        <td>{{ account_information.user_account.user_name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ account_information.email_address }}</td>
    </tr>
    <tr>
        <th>Items on sale</th>
        <td>{{ account_information.items_count(account_information.id) }}</td>
    </tr>
    <tr>
        <th>Bids</th>
        <td>{{ account_information.bids_count(account_information.id) }}</td>
    </tr>
    {% if current_user.id == account_information.id %}
    <tr>
        <th>Account Balance</th>
        <td>{{ account_information.account_balance }}</td>
    </tr>
    {% endif %}
</table>

{% if account_information.items %}
<table class="user-items detail-table">
    
    <tr>
        <th>Item name</th>
    </tr>
    {% for item in account_information.items %}
    <tr>
        <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>You have no items on sale</p>
{% endif %}

{% if account_information.bought_items %}
<table class="user-bought-items detail-table">
    
    <tr>
        <th>Item name</th>
    </tr>
    {% for item in account_information.bought_items %}
    <tr>
        <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>You haven't bought any items yet</p>
{% endif %}

{% endblock %}