{% extends "layout.html" %}

{% block body %}
<main id="user-login">
<div class="float-div">
<h2 class="table-header">Login</h2>
<form class="user-login detail-form" method="POST" action="{{ url_for('auth_login')}}">
    {{ form.email_address.label }}
    {{ form.email_address }}
    <p class="error">{{ form.email_address.errors[0] }}</p>

    {{ form.password.label }}
    {{ form.password }}
    <p class="error">{{ form.password.errors[0] }}</p>

    <input class="btn" type="submit" value="Login"/>
</form>
</div>
</main>
{% endblock %}