{% extends "layout.html" %}

{% block body %}
<main id="user-signup">
<div class="float-div">
<h1 class="material-header">Signup</h1>
<form class="material-form" method="POST" action="{{ url_for('auth_usersignup')}}">

    {% from 'material_macros.html' import material_form %}
    {% for form_field in form %}
        {{ material_form(form_field) }}
    {% endfor %}
    
    <input class="material-button" type="submit" value="Signup"/>
</form>
</div>
</main>
<script src="{{ url_for('static', filename='material.js') }}"></script>
{% endblock %}